# Ignore node_modules directory
node_modules/

# Ignore log files
*.log
logs/
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled files
*.class
*.o
*.so

# Ignore environment and config files
.env
*.env

# Ignore build directories
build/
dist/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore other files like archives, temporary files, etc.
*.zip
*.tmp
*.bak
*.swp


# other
notes.txt


